body {
    font-family: "Lato", sans-serif;
    background-color: #fefefe;
}
.sidenav {
    font-size:20px;
    height: 100%;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f82c1;
    padding-top: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 16px 0;
    text-decoration: none;
    color: #fefefe;
    
    transition: 0.3s;
}

.sidenav a:hover {
    color: #e9743f;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span{
paddin-top:16px;
font-size:30px;
color:#0f82c1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
