<div class="body">
		<div id="sidenav" class="sidenav">
			<span>A Peixaria</span>
			<div id="options">
				<a name="clientes" routerLink="/clientes"><p>Clientes</p></a>
				<a name="cadastrocliente" routerLink="/cadastrocliente"><p>Cadastrar Cliente</p></a>
				<a name="produtos" routerLink="/produtos"><p>Produtos</p></a>
				<a name="cadastropedido" routerLink="/cadastropedido"><p>Registrar pedido</p></a>
			 	<a name="pedidos" routerLink="/pedidos"><p>Pedidos pendentes</p></a>
			 	<a name="historico" routerLink="/historico"><p>Histórico</p></a>
		 	</div>
		</div>
		<div class = "pageContent">
			<router-outlet></router-outlet>
		</div>
 <div>
