<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="cadastropedido.component.css">
</head>
<body>
	<div class="body">
		<div id="sidenav" class="sidenav">
			<span>A Peixaria</span>
			<a href="#">Clientes</a>
			<a href="#">Produtos</a>
			<a href="#">Registrar pedido</a>
		 	<a href="#">Pedidos pendentes</a>
		 	<a href="#">Histórico</a>
		</div>
		<div class = "pageContent">
			<div class = "cadastroPedidoHeader">
				<span>Cadastro de pedido</span>
			</div>

			<div class="cadastroPedidoContent">
				<div class = "cadastroPedidoRow">
					<div>
						<label>Nome: </label>
						<input type="text" name="nome" placeholder="Nome" [(ngModel)]="nome">
						<button id="verificar-cliente-btn" (click)="verificar(nome)">Verificar</button>
					</div>				
					<div>
						<label>Telefone: </label>
						<input type="text" name="telefone" placeholder="Telefone" [(ngModel)]="telefone">
					</div>
				</div>
				<div id="messageError" *ngIf="clienteNaoCadastrado">
					Cliente não cadastrado
				</div>
				<div class = "cadastroPedidoRow">

					<div>
						<label>Desconto: </label>
						<input type="text" name="desconto" placeholder="Desconto" [(ngModel)]="pedido.desconto">
					</div>
					<div>
						<label>Tipo de desconto: </label>
						<input type="text" name="tipoDesconto" placeholder="% ou R$" [(ngModel)]="pedido.tipoDesconto">
					</div>

				</div>
				<div class = "cadastroPedidoRow">

					<div>
						<label>Produto: </label>
						<input type="text" name="nomeProduto" placeholder="Produto" [(ngModel)]="nomeProduto">
					</div>
					<div>
						<label>Quantidade: </label>
						<input type="text" name="quantidade" placeholder="Quantidade" [(ngModel)]="quantidade">
					</div>
					
				</div>
				<div class = "cadastroPedidoAdicionar">
					<button id = "btn" (click)="adicionar(nomeProduto,quantidade)">Adicionar</button>
				</div>
			</div>
			<div class = "cadastroPedidoFooter">
				<table>
					<tr *ngFor="let a of pedido.lista" name="produtoLista">
					   <td name="itemProduto">{{a.produto.nome}}</td>
					   <td name="itemQuantidade">{{a.quantidade}}</td>
					   <td>{{a.produto.unid}}</td>
					</tr>
				</table>	
			</div>
			<div>
				<button id = "btn" (click)="limpar()">Limpar</button>
			</div>
			<div class="valores">
				<div class="valor">
					<label>Subtotal: R$ </label>
					<div [(ngModel)]="subtotal"></div>
				</div>
				<div class="valor">
					<label>Total: R$ </label>
					<div [(ngModel)]="total"></div>
				</div>
			</div>

		</div>

	</div>
</body>
</html>