<html>
    
    <table>
    <tr>
       <td><label>Nome </label></td>
       <td><input [(ngModel)]="cliente.nome" name="namebox"></td>
    </tr>
    <tr>
       <td><label>CPF ou CNPJ </label></td>
       <td><input [(ngModel)]="cliente.cpf_cnpj" name="cpf_cnpjbox"></td>
       <td *ngIf="cpf_cnpjduplicado">
         Já existe um cliente com esse CPF ou CNPJ
       </td>
    </tr>
    <tr>
        <td><label>Data de nascimento </label></td>
        <td><input [(ngModel)]="cliente.data_nascimento"></td> <!-- ver type date -->
        <td><label>Telefone </label></td>
        <td><input [(ngModel)]="cliente.telefone"></td>
        <td><label>E-mail </label></td>
        <td><input [(ngModel)]="cliente.email"></td>
    </tr>

    <tr>
        <td><label>Consumidor final </label></td>
        <td><input type="radio" [(ngModel)]="cliente.consumidor_final"></td>
        <td><label>Lojista </label></td>
        <td><input type="radio" [(ngModel)]="cliente.lojista"></td>
    </tr>

    <tr>
        <td><label>Endereço</label></td>
    </tr>
    <tr>
        <td><label>Rua </label></td>
        <td><input [(ngModel)]="cliente.endereco.rua"></td>
        <td><label>Numero </label></td>
        <td><input [(ngModel)]="cliente.endereco.numero"></td>
    </tr>

    <tr>
        <td><label>Cidade </label></td>
        <td><input [(ngModel)]="cliente.endereco.cidade"></td>
        <td><label>Bairro </label></td>
        <td><input [(ngModel)]="cliente.endereco.bairro"></td>
    </tr>

    <tr>
        <td><label>Ponto de referência </label></td>
        <td><input [(ngModel)]="cliente.endereco.ponto_referencia"></td>
    </tr>


    <tr>
        <td><button (click)="criarCliente(cliente)">Adicionar</button></td>
    </tr>        
    </table>
    
    </html>
    