<div id="body">

   <h1 id="title">Pedidos Pendentes</h1>

   <div *ngIf="filterPendentes().length == 0" id="divSemPendentes">
      <h1 id="semPendentes">Não há pedidos pendentes</h1>
   </div>

   <table id="tabelaPendentes">
   <tr *ngIf="filterPendentes().length > 0">
      <th>Codigo</th>
      <th>Cliente</th>
      <th>Data do Pedido</th>
      <th>Data de Entrega</th>
      <th>Entregue</th>
      <th>Pago</th>
   </tr>
   <tr *ngFor="let p of filterPendentes()" name="pendentes">
      <td name="code">{{p.codigo}}</td>
      <td name="client">{{p.cliente.nome}}</td>
      <td name="requestDate">{{p.dataPedido}}</td>
      <td name="deliverDate">{{p.dataEntrega}}</td>
      <td name="delivered" class={{p.entregue}} ><input type="checkbox"[(ngModel)]="p.entregue" (change)="atualizarPedido(p)"></td>
      <td name="paid" class={{p.pago}}><input type="checkbox"[(ngModel)]="p.pago"  (change)="atualizarPedido(p)"></td>
   </tr>
   </table>

   <h1 id="title">Pedidos Anteriores</h1>

   <div *ngIf="filterHistorico().length == 0" id="divSemHistorico">
      <h1 id="semHistorico">Não há pedidos no histórico</h1>
   </div>

   <table id="tabelaPendentes">
   <tr *ngIf="filterHistorico().length > 0">
      <th>Codigo</th>
      <th>Cliente</th>
      <th>Data do Pedido</th>
      <th>Entregue e Pago?</th>
      <th>Cancelado?</th>
   </tr>
   <tr *ngFor="let p of filterHistorico()">
      <td name="code">{{p.codigo}}</td>
      <td name="client">{{p.cliente.nome}}</td>
      <td name="deliverDate">{{p.dataPedido}}</td>
      <td *ngIf="p.entregue&&p.pago">Sim</td>
      <td *ngIf="!p.entregue||!p.pago">Não</td>
      <td *ngIf="p.cancelado">Sim</td>
      <td *ngIf="!p.cancelado">Não</td>
   </tr>
   </table>

</div>